html{
       overflow: hidden;
}
body{
       margin: 0;
       background-color: #ecf0f1;
        font-family: 'Roboto', sans-serif;
}
.Label{
       position: absolute;
       margin: 40% 40%;
       font-size: 200%;
       font-family: 'Roboto', sans-serif;
       color:#34495e;
       left:83%;
       top: 7%;
}
.Money{
       position: absolute;
       width: 10%;
       animation-name:MoneyTransition;
       animation-duration: 20s;
       left:83%;
       top: 7%;
       animation-iteration-count: infinite;
}
.Mining{
       position: absolute;
       width: 15%;
       left:4%;
       top: 30%;
       animation-name:MiningAnim;
       animation-duration: 10s;
       animation-iteration-count: infinite;
}
@keyframes MoneyTransition{
    0%   {left:15%;top:25%;}
    100% {left:83%;top: 15%;}
}
@keyframes MiningAnim{
    0%   {opacity: 0}
    25% {opacity: 0.9}
    100% {opacity: 1}
}
